img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.list-none {
  list-style: none;
}

.size {
  width: 1200px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.margin-max {
  margin-top: 100px;
  margin-bottom: 100px;
}

.space {
  width: 90%;
  margin: 0 auto;
}

.border-box {
  box-sizing: border-box;
}

.hidden {
  overflow: hidden
}

[v-cloak] {
  display: none;
}
