body,
html {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  background: linear-gradient(to bottom, $color-light,  #e9d9e9);
}

.size {
  width: 1366px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.list-none {
  list-style: none;
  padding: 0;
}

.overflow {
  overflow: hidden;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.block {
  display: block;
}

.box-min {
  min-height: calc(100vh - 60px - 250px);
  padding: 50px 0;
  box-sizing: border-box;
}

.hr {
  width: 100%;
  height: 1px;
  background: $color-grey;
  border: none;
  margin: 30px 0;
}

.box-content,
.container-btn-save {
  background: $color-white;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid $color-grey;
}

.container-btn-save {
  border-top: none;
}

.content-size {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.color-primary {
  color: $color-primary;
}

.background-primary {
  background: $color-primary;
}

.color-white {
  color: $color-white;
}

.background-white {
  background: $color-white;
}
