//color

.color-primary {
  color: #0081ff;
}

.color-secundary {
  color: #5ee4b7;
}

.color-danger {
  color: #f2405d;
}

.color-black {
  color: #000;
}

.color-grey {
  color: #b3b3b3;
}

.color-light-grey {
  color: #e2e2e2;
}

.color-white {
  color: #fff;
}
//background

.background-primary {
  background: #0081ff;
}

.background-secundary {
  background: #5ee4b7;
}

.background-danger {
  background: #f2405d;
}

.background-black {
  background: #000;
}

.background-grey {
  background: #b3b3b3;
}

.background-light-grey {
  background: #e2e2e2;
}

.background-white {
  background: #fff;
}

.icon-square-block {
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}

.icon-square-box {
  margin-right: 10px;
  background: #d4eaff;
  color: #0081ff;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}
