.btn {
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 16px;
  border-radius: $radius;
  height: 36px;
  min-width: 90px;
  cursor: pointer;
  border: 1px solid transparent;
  background: $color-primary;
  color: $color-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  transition: 0.3s;
  box-sizing: border-box;
    i {
      color: $color-primary;
    }
}

.btn:hover {
  background: $color-secundary;
  color: $color-white;
  i {
    color: $color-white;
  }
}

.btn-outline {
  border-color: $color-secundary;
  background: transparent;
  color: $color-secundary;
}

.btn-outline:hover {
  background: $color-secundary;
  color: $color-white;
}

.btn-outline:active,
.btn:active {
  background: $color-primary-dark;
}

.btn.disabled,
button:disabled,
button[disabled] {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.btn-margin-right {
  margin-right: 10px;
}

.btn-search {
  border-color: $color-white;
  margin-left: 10px;
  min-width: 0;
  i {
    color: $color-white;
  }
}

.btn-link {
  padding: 0;
  height: auto;
  background: transparent;
  color: $color-primary;
  min-width: inherit;
    &:hover {
      background: transparent;
      color: $color-secundary;
    }
}

.btn-full {
  width: 100%;
}

.btn-find-map {
  i {
    color: $color-white;
  }
  &:hover {
    i {
      color: $color-light;
    }
  }
}

.fa-plus {
  cursor: pointer;
  transition: .3s;
    &:hover {
      color: $color-secundary;
    }
}


// labels

.label {
  padding: 5px 10px;
  border: 1px solid $color-primary;
  color: $color-primary;
  border-radius: 3px;
  margin: 2px;
  i {
    color: $color-primary;
    opacity: .5;
    transition: .3s;
    cursor: pointer;
  }

  &:hover {
    color: $color-secundary;
    border-color: $color-secundary;
    i {
      opacity: 1;
    }
  }
}
