.btn {
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 16px;
  border-radius: 4px;
  height: 36px;
  min-width: 90px;
  cursor: pointer;
  border: 1px solid transparent;
  background: $color-primary;
  color: $color-white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn:hover {
  background: $color-secundary;
}

.btn-outline {
  border-color: $color-secundary;
  background: transparent;
  color: $color-secundary;
}

.btn-outline:hover {
  background: $color-secundary;
  color: $color-white;
}

.btn-outline:active,
.btn:active {
  background: $color-primary-dark;
}

.btn.disabled,
button:disabled,
button[disabled] {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.btn-margin-right {
  margin-right: 10px;
}
