.dropdown {
  display: block;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  transition: 0.3s;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: 0 0;

  &:before {
    position: absolute;
    right: 8px;
    top: 0;
    content: "";
    width: 16px;
    height: 16px;
    border: 10px solid transparent;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
  }
}

.dropdown {
  &:hover {
    .dropdown-content {
      visibility: visible;
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

.dropdown-block {
  background: #fff;
  border-radius: 2px;
  width: 100%;
  margin-top: 12px;
  padding: 8px;

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dropdown-item {
  width: 100%;
  display: block;
  padding: 4px;
  border-radius: 2px;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}