.input-block {
  background: #fff;
  width: 100%;
  border: 1px solid #ddd;
  height: 36px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}

.input-block-inline {
  align-items: center;
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;

  label {
    width: 40px;
    opacity: .5;
    text-align: center;
  }
  .input-block {
    border: none;
    border-bottom: 1px solid $color-light-grey;
    border-radius: 0;
  }
}
