.menu {
  width: 100%;
  background: $color-light;
  padding: 5px;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 120px;
}

.menu-container {
  min-height: 50px;
}

.menu-btn {
  display: flex;
}

.menu-btn-responsive {
  display: none;
}

@media (max-width: 480px) {
  .menu-btn {
    display: none;
  }
  .menu-btn-responsive {
    display: flex;
  }
}

@media (max-width: 236px) {
  .menu-container {
    flex-direction: column;
    .btn {
      margin-top: 5px;
    }
  }
}
