.login-block {
  width: 90%;
  margin: 0 auto;
}

.bg-light {
  background: $color-light;
}

.content-login .title {
  margin-bottom: 20px;
}

.content-login {
  font-size: 13px;
}

.tabs {
  border-bottom: 1px solid $color-grey;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  position: relative;
}

.tab-link {
  border-bottom: 2px solid transparent;
  height: 28px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $color-primary;
  }

  &.active {
    color: $color-dark;
    border-color: $color-primary;
  }

  &.tab-link-account {
    flex-grow: 0;
    flex-basis: 200px;
  }
}

.tab-link span {
  font-size: 13px;
}

.btn-block {
  width: 400px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    border-bottom: 0;
  }

  .tab-link {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid transparent;
    height: 36px;
    box-sizing: border-box;
    padding: 10px 20px;
  }

  .tab-link.active {
    border-color: $color-primary;
    border-radius: $radius;
  }

  .tab-link.tab-link-account {
    flex-basis: auto
  }
}

.head-steps-2 {
  width: 600px;
  padding: 20px 0;
  max-width: 100%;
  margin: 0 auto;
  background: $color-white;
  border: 1px solid $color-light-grey;
  border-bottom: 2px solid $color-primary;
  position: relative;
  overflow: hidden;

  &::after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 13px;
    height: 13px;
    background: $color-primary;
  }
}

.container-steps {
  padding: 20px;
  position: relative;

  li {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
  }

  span {
    font-size: 13px;
    margin-top: 10px;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    max-width: 400px;
    height: 2px;
    background: $color-light;
  }

  &.min-steps::after {
    max-width: 300px;
    width: 50%;
  }
  @media (max-width: 320px) {
    flex-direction: column;

    li {
      flex-basis: auto;
      margin: 10px 0;
    }

    &::after {
      content: none;
    }
  }
}

.steps-ball {
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $color-primary;
  color: $color-white;
  font-size: 13px;

  &.active {
    background: $color-grey;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  &.disabled {
    background: $color-light;
  }
}

.input-file {
  // label,
  input {
    display: none;
  }

  .link {
    margin-top: 10px;
  }
}

.avatar-img {
  width: 70px;
  height: 70px;
  background: lighten($color-grey, 20);
  border-radius: 50%;
  transition: 0.3s;

  i {
    color: $color-grey;
    font-size: 1.5rem;
    transition: 0.3s;
  }
}

.back-arrow {
  i {
    margin-right: 8px;
  }
}

.container-avatar {
  cursor: pointer;

  &:hover {
    .avatar-img {
      background: $color-primary;

      i {
        color: $color-white;
      }
    }

    .link {
      color: $color-secundary;
    }
  }
}

.container-next-step {
  width: 600px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  background: $color-white;
  border: 1px solid $color-light-grey;

  span {
    margin: 10px 0;
  }

  .btn.btn-block {
    position: relative;

    i {
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 1.5rem;
    }
  }
}

.container-location {
  background: $color-white;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid $color-light-grey;
}

.container-workingtime {
  background: $color-white;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid $color-light-grey;
  padding: 20px;
}

.container-location {
  padding: 20px 0 0;
  border-bottom: 0;

  .group {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
  }
}

.container-map {
  width: 100%;
  margin-top: 30px;
}

.border-top-0 {
  border-top: 0;
}
