body,
html {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.size {
  width: 1366px;
  max-width: 90%;
}

.margin {
  margin: 0 auto;
}

.list-none {
  list-style: none;
  padding: 0;
}
