.link,
a {
  text-decoration: none;
  color: $color-primary;
  transition: 0.3s;
  font-size: 13px;
  cursor: pointer;

  i {
    color: $color-primary;
  }

  &:hover {
    color: $color-secundary;

    i {
      color: $color-secundary;
    }
  }
}

.text,
p {
  font-size: 13px;
}

.h1,
h1 {
  font-size: 22px;
  font-weight: normal;
}

.h2,
h2 {
  font-weight: normal;
  font-size: 18px;
}

.h1,
.h2,
.text,
h1,
h2,
p {
  color: $color-dark;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

i {
  color: $color-dark;
  line-height: 2;
}

.text-title {
  color: $color-primary;
  font-size: 13px;
  text-transform: uppercase;
}

.text-legend {
  color: $color-dark;
  font-size: 11px;
}

.title {
  margin-bottom: 30px;
}

p {
  line-height: 1.6;
}

.title-about {
  justify-content: space-between;
}
@media (max-width: 520px) {
  .title {
    flex-direction: column;

    .flex-basis-100 {
      flex-basis: 0;
    }
  }
}
