$color-primary: #f48c39;
$color-secundary: #e46b07;
$color-primary-dark: #c35c0b;

$color-white: #fff;
$color-light: #F1E7DE;
$color-dark: #4a4a4a;
$color-grey: #ddd;
$color-light-grey: #ddd;

$radius: 4px;

